.side-bar-style{
    position:fixed;
    left:0;
    top:55px;
    bottom:0px;
    width:72px;
    background-color:white;
    z-index:200;
}
.side-bar-link{
    height:74px;
    margin-bottom:5px;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column; 
    cursor:pointer; 
    padding-top:5px;
}
.side-bar-link:hover{
    background-color: lightgray;
}
.side-bar-link img{
    height:24px;
    width:24px;
    margin-bottom:4px;
}
.side-bar-link div{
    font-size:10px;
    font-family:Roboto,arial;
}